https://rythmo.padjokej.dev {
	reverse_proxy /* http://rythmo:8080 {
		header_up Host {host}
		transport http {
			read_timeout 120s
			write_timeout 120s
		}
	}
}

https://pye.padjokej.dev {
	reverse_proxy /* http://pye:5000 {
		header_up Host {host}
	}
}

padjokej.dev {
  @curl {
    header_regexp curl User-Agent curl.*
  }
  reverse_proxy /* http://website:8001
}
